* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: rgb(190, 213, 190);
}

nav {
@@ -43,6 +44,19 @@
  color: rgb(168, 179, 168);
}


#submit {
  border: grey;
  background-color: grey;
  color: rgba(222, 213, 213, 0.872);
  width: 100%;
  margin: 5px;
} 

#signup-instead {
  color: rgb(235, 225, 225);
}

button:not(.logout) {
  background-color: rgb(190, 213, 190);
  border: 0;
@@ -61,12 +75,14 @@
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea, input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

textarea:focus, input:focus {
@@ -79,6 +95,18 @@
  min-height: 100px;
}

.form-box {
  border: solid;
  padding: 10px;
}

h2 {
  background-color: rgb(41, 23, 23);
  color: rgb(190, 213, 190);
  padding: 10px;
  margin: 0;
}

form > div {
  margin-bottom: 2%;
}
@@ -137,12 +165,24 @@
.delete-post-btn:hover {
  background-color: #ff643d;
}

ul {
  list-style-type: none;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: solid;
  padding: 10px;
}

.post .title {
  background-color: rgb(41, 23, 23);
  color: grey;
  padding: 10px;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
@@ -152,6 +192,7 @@
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  color: black;
}

.upvote-btn {
}
.comment-form {
  margin-bottom: 5%;
}

#comment-form {
  border-top: 35px solid black;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}